/*estilos andres*/
.primera_columna{
    width: 80% !important;
}

.f-listas li{
    font-size: 12px !important;
}

.b49-radios-title a{
    color:#0a96ff;
    font-weight: bold;
}
.b48-input{
   margin-bottom: 15px !important;
}

.b48-input a{
    color:#0a96ff;
    font-weight: bold;
}

.b48-input label{
    margin-bottom: 10px;
}

.b49-radio1 label{
    font-size: 15px !important;
}

.b49-foot{
    margin-top: 10px !important;
}

/*.label_terminos_politica{
    margin-left: 20px;
}*/

#form_politicaprivacidad{
    /*display:none;*/
    top: 2px;
    position: relative;
    left: 0px;
}

#label_politica{
    margin-left: 10px;
}

#label_politica:before{
    content: "";
    position: absolute;
    top: 205px;
    bottom: 0;
    margin: auto;
    left: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #646464;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

.b49-question input[type="checkbox"]:checked + label:before{
    background: #9b54dd;
}

#form_politicaprivacidadcontacto{
    width: 15px;
    display: inline-block;
    position: relative;
    top: -20px;
}

#label_politica_contacto{
    width: 300px;
    display: inline-block;
    margin-left: 10px;
    color: inherit; 
}
/*#form_politicaprivacidad:active{
    background-color: #9b54dd;
}

#form_politicaprivacidad:focus{
    background-color: #9b54dd;
}*/

/*.b49-cnt-radios .b49-question:last-child{
     margin-left: 20px !important;
}*/
/*.link_terminos{
    color:black;
    font-weight: bold;
}

.link_politica{
    color:black;
    font-weight: bold;
}*/



#table3{vertical-align: 50px!important;}
#texto3{padding-right: 180px! important;padding-top: 50px! important;}
/*#anime3{display: none! important;}*/
/*#anime2{display: none! important;}*/
/*#anime1{display: none! important;}*/
/*#texto3 h3{color: #0032a0;}*/
#texto3 h3{color: #0033a0 !important;}
#texto3 h3 strong{color: #fff !important;}
#link3{color: #fff !important;}
#ruta3 {display: none! important;} 
#parrafo2 {display: block!important;visibility: visible; }
#bt3{margin-top: 0px ! important;margin-right: 50px! important;}
#texto3 br {display: none! important;}
/*#intro1{background-size:cover! important;background-position:0 -26px ! important;}*/

/*#intro2{background-size:cover! important;background-position:0 -26px ! important;}*/
/*#intro2{background-position:bottom ! important;}*/
#cuadro_2{display: none!important;}
#cuadro_1{display: none!important;}
#texto1 {
    margin: auto!important;
    text-align: right!important;
    /*padding-right: 100px!important;*/
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    height: 50px!important;
    top: -70px;
    position: relative;
}
#intro1 a#link1 {
    right: 20px;
}

/*#texto2 {margin: auto!important;text-align: right!important;padding-right: 246px!important;margin-top: -209px!important;-webkit-box-sizing: border-box!important;-moz-box-sizing: border-box!important;box-sizing: border-box!important;height: 50px!important;}*/
#texto2 {margin: auto!important;
         text-align: right!important;
         /*padding-right: 63px!important;*/
         margin-top: 197px!important;
         -webkit-box-sizing: border-box!important;
         -moz-box-sizing: border-box!important;
         box-sizing: border-box!important;
         height: 50px!important;}
#programa-de-lactancia-materna{height: 365px;}
#programa-de-apnea-del-sueno-y-roncopatia{height: 365px;}
#parrafo1{
    position: relative;
}
/*
#parrafo2 #sub_2{
    font-size: 48px !important;
    width: 600px;
    position: absolute;
    right: 20px;
    top: -50px;
    color: white !important;
}*/
#parrafo2 #sub_2 strong{
    /*color: white !important;*/
    color: #0a96ff !important;
    font-size: 18px;
}
#parrafo2 #sub_2{
    font-size: 52px !important;
    margin-top: -287px!important;
}
#intro1{
    background-repeat: none !important;
    background-size: cover !important;
}
#intro2{
    background-repeat: none !important;
    background-size: cover !important;
}
#intro3{
    background-repeat: none !important;
    background-size: cover !important;
}
#anime3{left:40px}
#cuadro_3{left:40px}
#intro4{
    background-repeat: none !important;
    background-size: cover !important;
}
#intro5{
    background-repeat: none !important;
    background-size: cover !important;
}
#anime5{left:40px}
#cuadro_5{left:40px}
#texto5{
    /*padding-right: 70px !important;*/
}
#parrafo5 #sub_5{
    /*color:white !important;*/
    font-size: 40px !important;
}
#parrafo5 strong {
    color:white !important;
    font-size: 24px !important;
}

#bt5 .b1-botone{
    color:white !important;
}
#intro6{
    background-repeat: none !important;
    background-size: cover !important;
}
#anime6{left:40px}
#cuadro_6{left:40px}
#texto6 {
    padding-right: 150px !important; 
}
#parrafo6 #sub_6{
    font-size: 29px !important;
}
#sub_6 .b1-texto strong {
    font-weight: bold !important;
    font-size: 37px !important;
}

#texto9{
    padding-right: 90px !important;
}
#anime9{left:40px !important;}
#cuadro_9{left:40px !important;}
@media screen and (max-width: 740px){
    
    #texto{
    padding-left: 48px !important;
    font-size: 18px;
    }
    
    #parrafo2 {display: block!important;}
    #texto2{margin-top: 0px!important;}
    #cuadro_2{display: block!important;}
    #sub_2{color: #0032a0!important;padding-right: 100px;}
    #texto2{padding-right: 0px!important;margin-top: 15px!important;}
    #bt2{margin-top: -3px!important;margin-left: 80px;padding-right: 97px !important;} 
    #bt2 .b1-botone {color: #0032a0 !important;}
    #texto2 {padding-right: 0px!important;}
    #table3{vertical-align: 50px!important;}
    #texto3{padding-top: 0px! important ;padding-right: 0px! important ;}
    #anime1{display: block! important;width:400px! important;height:396px! important;}
    #anime3{display: block! important;width:370px! important;height:290px! important;}
    #anime2{display: block! important;width: 400px !important;height: 250px !important;
            background-position:bottom!important }
    /*#intro1{background-image: url("../../uploads/responsivemesa-de-trabajo-1.jpg")! important;}*/
    /*#intro3{background-image: url("../../uploads/home/fondo-prueba.jpg")! important;}*/
    /*#intro1{background-image: url("../../uploads/home/rosado.jpg")! important; }*/
    #intro2{background-position: left bottom! important; }
    #intro1 {
        /*background-position: 41% 20% !important;*/
        /*background-image: url(https://urgenciasurco.clinicainternacional.com.pe/images/fondo_11.jpg) !important;*/
        /*background-size: 170% !important;*/
    }
    #texto-1 h3{color: #0032a0 !important;}
    #texto-2 h3{color: #0032a0 !important;}
    #bt3{margin-right: 0px! important;}
    #texto3 br {display: block !important;}
    #parrafo2{visibility: visible}
    #ruta3 {display: none!important;color: #12b2f2 !important;}
    #cero_{width: 260px!important;}
    #parrafo1 #sub_1 {
        font-size: 27px !important;
        padding-left: 171px!important;
        width: 80%;
        position: absolute;
        right: 35px;
        top: 0;
        color: white !important;
    }
    #parrafo1 #sub_1 strong {
        font-size: 20px !important;
    }
    #intro1 a#link1 {
        top: 55px;
        right: 35px;
    }

    

    #parrafo2 #sub_2{    
        font-size: 27px !important;
        font-size: 27px !important;
        margin-top: -20px !important;
        width: initial;
        padding-left: 35px !important;
    }
}
    
@media screen and (max-width: 480px){
        #texto{
        padding-left: 48px !important;
        font-size: 18px;
        }
    
        #parrafo1 #sub_1{
            font-size: 27px !important;
            padding-left: 171px!important;
            width: 80%;
            position: absolute;
            right: 35px;
            top: -30px;
            color: white !important;
        }

        #parrafo1 #sub_1 strong{
            font-size: 0.6em !important;
        }

        #parrafo2 #sub_2{    font-size: 27px !important;
            font-size: 27px !important;
            margin-top: -20px !important;
            width: 70%;
            padding-left: 35px !important;
        }

       
        #texto2{margin-top: 10px!important;}
        #bt2{margin-top: 5px!important;margin-left: 84px;    padding-right: 102px !important;}
        .b43-banner {height: 255px!important;}
        #bt2 .b1-botone {color:#00a1df !important;}
        /*#intro2{visibility: hidden !important;}*/
        #intro2{background-position: left bottom! important; }
        #intro1{
            background-position: 41% 20% !important;
        }
        #anime2{display: block! important;width:361px! important;height:292px! important;}
        #texto9{
           padding-right: 0px !important;
        }
    }
.listado {
    position: relative;
}


li a[href$="/responsabilidad-social/"]{
    display: none !important;
}

.fix-boxItem:nth-child(3) .fix-title:first-child a{
    display: none;
}


/* BRUNO */

div#programa-de-deteccion-temprana-de-cancer-de-mama {
    height: 450px;
    background-position: right;
}

/*#intro1{
    background-position:bottom ! important;
    background-image: url(https://www.clinicainternacional.com.pe/images/banner_web/banner_sinTexto.png) !important;
}*/

#parrafo2 #sub_2 {
    font-size: 37px !important;
    margin-top: -287px!important;
    color: #0032a0;
}

#intro1 .b1-texto strong {
    display: block;
    color: #0a96ff;
    font-weight: bold;
    /*font-size: 47px;*/
    font-family: 'Gotham-Medium',sans-serif;
}

#into2 #parrafo2 #sub_2 {
    font-size: 35px !important;
    margin-top: -287px!important;
    padding-left: 656px!important;
}

#intro3 #texto3 {
    margin: auto!important;
    text-align: right!important;
    padding-right: 63px!important;
    margin-top: 197px!important;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    height: 50px!important;
}

#intro3 #parrafo3 #sub_3 {
    font-size: 38px !important;
    margin-top: 0px!important;
    padding-left: 656px!important;
}

@media screen and (max-width: 740px){
    #texto1 {
        top: 0px;
        position: relative;
    }

    #texto1 #bt1{
        top: 10px;
        position: relative;
    }

    #intro2 .b1-texto strong {
        display: block;
        color: #0a96ff;
        font-weight: bold;
        font-family: 'Gotham-Medium',sans-serif;
        margin-top: 4px;
        position: relative;
    }
    #intro2 #parrafo2 #sub_2 {
        font-size: 20px !important;
        margin-top: 0 !important;
        padding-left: 0 !important;
    }
    #intro2 {
        background-position: -100px! important;
    }

    #intro3 #parrafo3 #sub_3 {
        font-size: 25px !important;
        margin-top: -200px!important;
    }

    #intro3 .b1-texto strong {
        font-size: 19px;
    }

/*    #intro3 {
        background-image: url(/uploads/banner-web-tamano2.jpg)! important;
        background-position: bottom left;
        background-size: cover !important;
    }*/

    #intro3 #texto3 {
        margin: auto!important;
        text-align: right!important;
        padding-right: 63px!important;
        margin-top: 0 !important;
        -webkit-box-sizing: border-box!important;
        -moz-box-sizing: border-box!important;
        box-sizing: border-box!important;
        height: 50px!important;
    }

    #intro3 #parrafo3 #sub_3 {
        font-size: 20px !important;
        margin-top: 0 !important;
    }

    #intro3 .b1-texto strong {
        font-size: 20px;
    }

    #intro3 #parrafo3 #sub_3 {
        padding-left: 0 !important;
    }
    #parrafo1 #sub_1 {
        width: 80%;
        position: absolute;
        right: 35px;
        top: 0;
        color: #0033a0 !important;
    }

    #intro1{
        background-repeat: no-repeat !important;
    }
    #intro1 a#link1 {
        top: 77px;
        right: 36px;
    }
}

.codigo_conducta_links{
    display: block;
    color: #0033a0;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.codigo_conducta_links:hover{
    color: #00a1df;
    text-decoration: underline;
}

#codigo_conducta .b13-box-content {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0;
}

#codigo_conducta h3 {
    text-align: left;
    font-size: 40px;
    width: 95%;
    margin: auto;
    max-width: 1090px;
}

#codigo_conducta .b-13 {
    padding: 0;
}

#codigo_conducta .b13-box.active {
    padding-top: 45px;
}

#codigo_conducta .b37 {
    padding: 0;
}

li#intro4 {
    background-size: cover;
    /*background-image: url(https://www.clinicainternacional.com.pe/images/banner_web/banner_unidad_cuidados_intensivos_1.png) !important;*/
}

li#intro4 .b1-texto strong {
    font-size: 19px;
}

@media only screen and (max-width: 740px){
    li#intro4{
        background-position: right center !important;
    }

    li#intro4 .b1-texto{
        position: absolute !important;
        bottom: 100px !important;
    }

    li#intro4 .b1-texto strong {
        font-size: 19px;
        color: white;
    }
}

@media only screen and (max-width: 480px){
    
    #texto1{
        padding-right: 20px !important;
        top: 38px;
        /*margin-left: 49px;*/
        left: -100px;
    }
    
    #parrafo1 #sub_1 {
        font-size: 23px !important;
        padding-left: 170px!important;
        width: 100% !important;
        position: absolute;
        right: 0;
        top: -15px;
        /*color: white !important;*/
    }
    
    #parrafo1 #sub_1 strong {
        font-size: 0.5em !important;
    }
    
    #intro1 a#link1 {
        top: 76px;
        right: 0px;
    }
    
    

    
}

@media screen and (max-width: 1280px){
    .b1-item.active .b1-anime#cuadro_3 {
        display: none;
    }
}


/* PROGRAMA DE DETECCIÓN TEMPRANA DE CANCER DE MAMA */



.boton_formulario {
    font-size: 13px;
    width: 160px;
    margin: auto;
    display: block;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    background: #00a1df;
    text-align: center;
    color: white;
    border-radius: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}

    .pasos h2{
        text-align: center;
    }


    .container h3{
        padding-top: 20px;
    }

    ul.incluye li {
        margin-bottom: 5px;
    }

    .b43-info .container h3:before {
        content: none !important;
    }

    .b43-info .container h3 {
        margin: 0;
        color: #646464;
        font-family: 'latoblack',sans-serif;
        font-size: 24px;
        font-weight: normal;
        line-height: 35px;
        padding-left: 105px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
    }
    
    h3.titulo_preguntas {
        padding-bottom: 0px;
        padding-left: 40px !important;
        color: #00a1df !important;
        font-size: 30px !important;
    }
    @media only screen and (min-width: 769px){
        .titulo_preguntas {
            width: 250%;
            margin-left: -80% !important;
        }

        p.preguntas_frecuentes {
            margin-left: -80%;
            padding-left: 30px;
            }
        }
        .b43-info p.preguntas_frecuentes:before{
            content: none;
        }

        p.preguntas_frecuentes {
            color: #00a1df;
            font-family: 'latoblack',sans-serif;
            font-size: 30px;
            font-weight: normal;
            line-height: 35px;
        }

        
    
    

    

    @media only screen and (max-width: 769px){
        .pasos{
            width: 200px;
            margin: auto;
            margin-bottom: 20px;
        }

        .pasos p{
            text-align: center;
        }

        .b42acordiontitle h3 {
            font-size: 16px;
            color: #0a96ff;
            font-family: 'latoblack',sans-serif;
            border: 1px solid #0a96ff;
            border-radius: 20px;
            height: 60px;
            line-height: 25px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 10px;
            margin-bottom: 0;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -ms-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;
        }

        .b42acordiontitle h3:before{
            top: 20px !important;
        }
    }

    .b42txt.content-text span {
        background-color: transparent !important;
    }
#programa-de-deteccion-temprana-de-cancer-de-pulmon{
    height: 500px;
    background-position-x: 80%;
}

#programa-de-deteccion-temprana-de-cancer-de-colon{
    height: 500px;
    background-position-x: 80%;
}

.b43-info p strong {
    display: inline-block;
    font-family: 'latoblack',sans-serif;
}


/*CSS PARA NUEVO BOTON FORMATO MOVIL*/

.link_miclinica_online{
    display:none ;
}
@media only screen and (max-width: 380px){
    
    
    /*PRIMER FORMATO BOTONES EN FOOTER - BOTON EN HTML FOOTER*/
    /*
    .h-fixed-chat{
        display:none !important;
    }
    
    #reserva_nologin{
        right:7px !important;
    }
    #reserva_silogin{
        left:7px !important;
    }
    
    #reserva_nologin .morado a{
         font-size: 13px !important;
         padding: 0px 15px !important;
    }
    #reserva_silogin .morado a{
         font-size: 13px !important;
         background: #0032a0 !important;
         padding: 0px 15px !important;
    }
    
    .h-table-text-x{
        display:none !important;
    }
    */
    
    /*SEGUNDO FORMATO BOTON DE CLINICA ONLINE EN HEADER - BOTON EN HTML HEADER*/
    /*OCULTANDO OPCION DE MENU HAMBURGUESA*/
    .h-table-text-x{
        display:none !important;
    }
    
    .h-cntLogos a.h-logoColors img{
        width: 140px !important;
        height: 44px !important;
    }
    
    .header.active .h-logo {
        width: 170px;
        top: 11px;
        left: -12px;
    }
    
    .link_miclinica_online{
        display:block !important;
        margin-left: 60% !important;
        cursor: pointer;
        padding-top: 18px;
        font-size: 13px;
    }
    
    .link_miclinica_online a img{
        width: 22px !important;
        /*vertical-align: text-bottom !important;*/
        margin-right: 7px !important;
        position: relative;
    }
    .link_miclinica_online a{
        color: #0032a0 !important;
        font-weight: bold !important;
    }
    
    .h-blockDown{
        height: 18px !important;
    }
    #texto9{
        padding-right: 0px !important;
    }
    
    .fix-cnt .g-btn {
        text-align:left !important;
    }
    
    .fix-table {
        padding-bottom: 100px !important;
    }
}


@media only screen and (max-width: 480px){
    #reserva_nologin{
        bottom:110px !important;
    }
    
    /*PRIMER FORMATO BOTONES EN FOOTER - BOTON EN HTML FOOTER*/
    /*
    .h-fixed-chat{
        display:none !important;
    }
    
    #reserva_nologin{
        right:7px !important;
    }
    #reserva_silogin{
        left:7px !important;
    }
    
    #reserva_nologin .morado a{
         font-size: 13px !important;
         padding: 0px 15px !important;
    }
    #reserva_silogin .morado a{
         font-size: 13px !important;
         background: #0032a0 !important;
         padding: 0px 15px !important;
    }
    
    .h-table-text-x{
        display:none !important;
    }
    */
    
    /*SEGUNDO FORMATO BOTON DE CLINICA ONLINE EN HEADER - BOTON EN HTML HEADER*/
    /*OCULTANDO OPCION DE MENU HAMBURGUESA*/
    .h-table-text-x{
        display:none !important;
    }
    
    .h-cntLogos a.h-logoColors img{
        width: 140px !important;
        height: 44px !important;
    }
    
    .header.active .h-logo {
        width: 170px;
        top: 11px;
        left: -12px;
    }
    
    .link_miclinica_online{
        display:block !important;
        margin-left: 62%;
        cursor: pointer;
        padding-top: 18px;
        font-size: 13px;
    }
    
    .link_miclinica_online a img{
        width: 22px !important;
        /*vertical-align: text-bottom !important;*/
        margin-right: 7px !important;
        position: relative;
    }
    .link_miclinica_online a{
        color: #0032a0 !important;
        font-weight: bold !important;
    }
    
    .h-blockDown{
        height: 18px !important;
    }
    
    .fix-cnt .g-btn {
        text-align:left !important;
    }
    
    .fix-table {
        padding-bottom: 100px !important;
    }
    
    
}

/*span#texto a img:hover{
    color: rgb(0,51,160);
    content:url("https://www.clinicainternacional.com.pe/uploads/icono_user_online.png");
}
*/
span#texto_online:hover{
    color: rgb(0,51,160);

}

#enlace_online:before{
    content:url("https://www.clinicainternacional.com.pe/uploads/icono_user_online_blanco.png");
    vertical-align: sub;
    margin-right: 10px;
}

#enlace_online:hover:before{
    content:url("https://www.clinicainternacional.com.pe/uploads/icono_user_online.png");
    vertical-align: sub;
    margin-right: 10px;
}

.h-fixed-chat{
    bottom: 108px !important;
    z-index: 999998 !important;
    cursor: pointer !important;
    
}

.h-fixed-chat .morado{
    
}

div.cx-widget{
    
}

.cx-widget.cx-common-container.cx-webchat.cx-close.cx-minimize.cx-theme-light.cx-desktop{ 
    /*position: absolute;*/ 
    bottom: 10px; 
    /*left:100px;*/
    z-index: 99999999999 !important;
    border-radius: 20px 20px 0px 0px;

}

.cx-powered-by{
    display:none;
}

.cx-widget.cx-theme-light .cx-btn-primary {
        background-color: #0033a0 !important;
        border-radius:10px !important;
}
.cx-widget.cx-theme-light .cx-btn-default {
        /*background-color: #0033a0 !important;*/
            background-color: #9b54dd !important;
        border-radius:10px !important;
}

.cx-titlebar{
    background-color: #0033a0  !important;
        border-radius: 20px 20px 0px 0px;
}

.cx-widget.cx-theme-light .cx-titlebar .cx-title {
    color: white !important;
}


.cx-widget path {
       fill: white !important;
}